#toolbar-launch {
	position: absolute;
	padding: 0;
	top: -3px;
	left: 48.5%;
	z-index: 9999;
}

#toolbar-launch img {
	padding: 0;
	opacity: 0.6;
}

#toolbar-widget {
	text-align: center;
}

#toolbar-widget a{
	position: static;
	padding: 0;
	top: 0;
	left: 0;
	text-align: center;
}

#toolbar-widget img {
	padding: 0;
	opacity: 1;
}

#toolbar-launch-shortcode img{
	padding: 0;
	opacity: 1;
}